@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Poppins:wght@400;600&display=swap");

body,
html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  /* background: #13171c; */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #13171c;
  /* color: #efefef; */
  font-family: "Lato";
}

::selection {
  color: #dedede;
  background-color: #13171c;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #1e1e1c;
}

::-webkit-scrollbar-thumb {
  background: #efefef;
}

a:active,
a:visited,
a:hover,
a:link {
  text-decoration: none;
  color: #13171c;
}

nav {
  justify-content: space-between;
}

nav ul {
  display: flex;
}

.landing h4 {
  font-weight: 300;
}

.bg-dark {
  background-color: #13171c;
  color: #efefef;
}

.bg-light {
  background-color: #fff;
  color: #13171c;
}

.buttons a {
  border: 1px solid;
  transition: 0.3s all ease-in-out;
}

.buttons .view-project {
  background-color: #13171c;
  color: #efefef;
}

.project .img img {
  max-width: none;
  width: 130%;
}

.align-items-center {
  align-items: center;
}
.ml-reset {
  margin-left: -40%;
}
/* .buttons .view-project:hover {
  background-color: #efefef;
  color: #13171c;
}

.buttons .view-source:hover {
  background-color: #13171c;
  color: #efefef;
} */

/* Canvas */

#canvas {
  position: fixed;
  opacity: 0.3;
  z-index: -2;
}

/* Projects */

.cards {
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 40%;
  margin-bottom: 5vh;
}

.card h4 {
  margin-top: 15px;
  font-size: 24px;
}

.card .card-img {
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.card-img img {
  width: 20%;
  /* margin: auto; */
}

.card .tabs {
  margin-top: 10px;
  margin-bottom: 10px;
}
.cards .tabs span {
  /* background-color: #13171c;
  color: #efefef; */
  background-color: #fff;
  color: #13171c;
  border: 1px solid #13171c;
  border-radius: 25px;
  padding: 5px 15px;
  font-size: 12px;
}

.contact-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.contact-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-card .info {
  padding-left: 10px;
}

.contact-card img {
  width: 60px;
  height: 60px;
}

.share {
  opacity: 0;
  transition: 0.3s all ease-in-out;
}

.scrollIn {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .cards,
  .contact-cards {
    flex-wrap: wrap;
  }
  .card {
    width: 100%;
  }
  .contact-card {
    width: 50%;
  }
}
